<p id="notice"><%= notice %></p>

<%= render 'index', locals: {instruments_hash: @instruments_hash, activity_summaries: @activity_summaries, chart: @chart, selected: @selected} %>

<%= javascript_include_tag 'highcharts' %>
