<script type='text/javascript' charset="utf-8">
	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		var types = '<%= @types -%>'   // get the resource_id from the controller
		var individual_id = "<%= session[:individual_id] -%>" // get the current logged on user id.

		function revertEventDrop(revertFunc){
			var status = $.ajax({
							url: '/activities/return_activity',
							async: false
							}).responseText;
							if (status == 'false') {
								alert("Your activity failed to move due to an illegal operation.");
								revertFunc();
							}
				} // revertEventDrop
				
		function revertEventResize(revertFunc){
			var status = $.ajax({
							url: '/activities/return_activity',
							async: false
							}).responseText;
							if (status == 'false') {
								alert("Your activity failed to resize due to an illegal operation.");
								revertFunc();
							}
				} // revertEventResize
				
		function revertEventUpdate(revertFunc){
			var status = $.ajax({
							url: '/activities/return_activity',
							async: false
							}).responseText;
							if (status == 'false') {
								alert("Your activity failed to update due to an illegal operation.");
								revertFunc();
							}
				} // revertEventUpdate
		
		var calendar = $('#calendar').fullCalendar({
			header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
			},
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay){     // Creating a new activity.
				
				var view = $('#calendar').fullCalendar('getView');
				if (view.name == 'month'){
					$calView = $('#newResForm2');
				}
				else {
					$calView = $('#newResForm');
				}
        var title = prompt('New Activity:');
				
				// initialize the dialog
				$calView.dialog({
				draggable: false,
				width: 450,
				title: 'New Activity Form',
				open: function(){$(this).find('input[name=activityName]').val(name).attr('disabled', true);
								 $(this).find('input[name=type_id]').val(type_id).attr('disabled', true);
								 $(this).find('input[name=attachment_id]').val(attachment_id).attr('disabled', true);
								 $(this).find('input[name=intensity]').val(intensity).attr('disabled', true);
								 $(this).find('input[name=repeats]').val("0").attr('disabled', false);
								},  // autofill with user name.
				close: function(){ $(this).find('input[name=activityName]').val(""); 
								   $(this).find('input[name=activityName]').val("");
								   $(this).find('input[name=qualifier]').val("");
								   $(this).find('textarea[name=notes]').val("");
								   $(this).find('input[name=repeats]').val("");
								   if (view.name == 'month'){
								   	$(this).find('input[name=start]').val("");
									$(this).find('input[name=end]').val("");
								   }
								 }, // event when dialog is closed.
				autoOpen: false,
				buttons: {"Submit": function() {
					var title = $(this).find('input[name=image_id]').val() // looks for the first element and return a jquery object. converted to val
					var activityName = $(this).find('input[name=activityName]').val();
					var qualifier = $(this).find('input[name=qualifier]').val();
					var notes = $(this).find('textarea[name=notes]').val();
					//var repeats	= $(this).find('input[name=repeats]').val();
					if (/(^[0-9]{1}$|^[1-2]{1}[0-9]{1}$|^30$)/.test($(this).find('input[name=repeats]').val())){
						var repeats	= $(this).find('input[name=repeats]').val();
					}
					else {
						alert("The value you entered is invalid. Must be a number between 0 to 30 inclusive.");
						return
					}
					if (view.name == 'month'){
						start = $(this).find('input[name=start]').val();
						end = $(this).find('input[name=end]').val();
					}
					
					if (title) {
					$.ajax({
						url: '/activities/json_create',
						type: 'POST',
						data:{
							user_name: title,
							resource_id: resource_id,
							start_time: start.toString(),
							end_time: end.toString(),
							activity_name: activityName,
							qualifier: qualifier,
							notes: notes,
							repeats: repeats
						},
						error: function(){
							var status = $.ajax({
							url: '/activities/return_session',
							async: false
							}).responseText;
							if (status == 'false') {
								alert("Your activity failed to create due to an illegal operation.");
								//location.reload(true);
								$('#calendar').fullCalendar('removeEvents');
								$('#calendar').fullCalendar('refetchEvents');
							}
							else {
								alert("Activity was successfully created.");
								//location.reload(true);
								$('#calendar').fullCalendar('removeEvents');
								$('#calendar').fullCalendar('refetchEvents');
							}
						},
						success: function(){
							alert("Activity was successfully created.");
							//location.reload(true);
							$('#calendar').fullCalendar('removeEvents');
							$('#calendar').fullCalendar('refetchEvents');
						},
					});
					calendar.fullCalendar('renderEvent',
					{
						title: title,
						start: start,
						end: end,
						allDay: allDay
					},
					true
					);
				 }
				 $calView.dialog('close');
				 $calView.dialog('destroy');
				}, "cancel": function(){
					$calView.dialog('close');
				    $calView.dialog('destroy');
				}}

				});
				
				$calView.dialog('open');
				

				calendar.fullCalendar('unselect');
			},
			eventClick: function(event, element){  // Edit an existing activity.
				
				var view = $('#calendar').fullCalendar('getView');
				if (view.name == 'month'){
					$calView = $('#newResForm2');
					calView = '#newResForm2 ';
				}
				else {
					$calView = $('#newResForm');
					calView = '#newResForm ';
				}
				
				var $image_id = $(calView + 'input[name=image_id]').attr('disabled', true); // a jquery object to hold the juery result 
				var $type_id = $(calView + 'input[name=type_id]').attr('disabled', true);
				var $attachment_id = $(calView + 'input[name=attachment_id]').attr('disabled', true);
				var $intensity = $(calView + 'input[name=intensity]').attr('disabled', true);
				var $activityName = $(calView + 'input[name=activityName]');
				var $qualifier = $(calView + 'input[name=qualifier]');
				var $notes = $(calView + 'textarea[name=notes]');
				var $repeats = $(calView + 'input[name=repeats]').attr('disabled', true); 
				if (view.name == 'month'){
						var $start = $(calView + 'input[name=start]');
						var $end = $(calView + 'input[name=end]');
					}
				
				var buttonObj = {"close": function(){
						$calView.dialog('close');
					    $calView.dialog('destroy');
					}
				}; // close the button array object
				
				if (individualid == event.individual_id){         //check the if current user own that activity.
					buttonObj['Save'] = function() {
					var activityName = $activityName.val();
					var qualifier = $qualifier.val();
					var notes = $notes.val();
					if (view.name == 'month'){
						start = $start.val();
						end = $end.val();
						var data = {
							activity_id: event.activity_id,
							start_time: start.toString(),
							end_time: end.toString(),
							activity_name: activityName,
							qualifier: qualifier,
							notes: notes
						};
					}
					else{
						var data = {
							activity_id: event.activity_id,
							//start_time: start.toString(),
							//end_time: end.toString(),
							activity_name: activityName,
							qualifier: qualifier,
							notes: notes
						};	
					}
					//event.title = $image_id.val(); // looks for the first element and return a jquery object. converted to val
					$('#calendar').fullCalendar('updateEvent', event);
					$.ajax({
						url: '/activities/json_update',
						type: 'POST',
						data: data,
						error: function(){
							revertEventUpdate(revertFunc);
						}
						
					});
					$calView.dialog('close');
					$calView.dialog('destroy');
					//location.reload(true);
					$('#calendar').fullCalendar('removeEvents');
					$('#calendar').fullCalendar('refetchEvents');
					};
					buttonObj['delete'] = function(){
						answer = confirm("Are you sure?");
						if (answer){
							$.ajax({
								url: '/activities/json_delete',
								type: 'POST',
								data:{
									activity_id: event.activity_id
									}
								});
							}
						$calView.dialog('close');
					    $calView.dialog('destroy');
						//location.reload(true);
						$('#calendar').fullCalendar('removeEvents');
						$('#calendar').fullCalendar('refetchEvents');
					};
					buttonObj['details'] = function(){
						window.location = '/activities/' + event.activity_id
						$calView.dialog('close');
					    $calView.dialog('destroy');
					};
				} // if
				
				// initialize the dialog
				$calView.dialog({
				draggable: false,
				width: 450,
				title: 'New Activity Form',
				open: function(){ $image_id.val(event.title);
								  $type_id.val(event.type_id);
								  $attachment_id.val(event.attachment_id);
								  $intensity.val(event.intensity);
								  $activityName.val(event.activityName);
								  $qualifier.val(event.qualifier);
								  //$notes.val($(event.notes).text());
								  $notes.val(event.notes);
								  $repeats.val("0");
								  if (view.name == 'month'){
								  	$start.val(event.start);
									$end.val(event.end);
								  }
								  },  // the event when dialog is open
				close: function(){
								   $image_id.val("");
								   $type_id.val("");
								   $attachment_id.val("");
								   $intensity.val("");
								   $activityName.val("");
								   $qualifier.val("");
								   $notes.val("");
								   $repeats.val("");
								   if (view.name == 'month'){
								   	$start.val("");
									$end.val("");
								   }
								}, // the event when the dialog is closed
				autoOpen: false,
				buttons: buttonObj
					
				});
				$calView.dialog('open');
			},
			eventResize: function(event,dayDelta,minuteDelta,revertFunc){
				if (individualid != event.individual_id){
					alert("You do not have permission to resize this activity.");
					revertFunc();
					return;
				}
				$.ajax({
						url: '/activities/json_resize',
						type: 'POST',
						data:{
							start_time: event.start.toString(),
							end_time: event.end.toString(),
							activity_id: event.activity_id,
						},
						error: function(){
							revertEventResize(revertFunc);
						}
						
					});
			},
			eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc){
				if (individualid != event.individual_id){
					alert("You do not have permission to move this activity.");
					revertFunc();
					return;
				}
				$.ajax({
						url: '/activities/json_resize',
						type: 'POST',
						data:{
							start_time: event.start.toString(),
							end_time: event.end.toString(),
							activity_id: event.activity_id,
						},
						error: function(){
							revertEventDrop(revertFunc);
						}
						
					});
					
			},
			editable: true,
			defaultView: 'agendaWeek',
			events: '/activities/json_test'
		});	
	});
</script>
<style type='text/css'>

	body {
		margin-top: 40px;
		text-align: center;
		font-size: 13px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>

<div id='calendar'></div>

